<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div>
    <ul class="navBar">
      <li class="navBox"><a class="navLink" href="/">Home</a></li>
      <li class="navBox"><a class="navLink active" href="about">About</a></li>
    </ul>
  </div>

   <h1><%= text %></h1>

   <iframe src="https://open.spotify.com/embed/album/2KmYPeqEf6YEoheeYmMib7?utm_source=generator" width="50%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

</body>
</html>
