<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div>
    <h1 class="name">Michel Vazirani</h1>
    <h4 class="intro">I am a person.</h4>
  </div>

  <div>
    <ul class="navBar">
      <li class="navBox"><a class="navLink active" href="/">Home</a></li>
      <li class="navBox"><a class="navLink" href="about">About</a></li>
    </ul>
  </div>

  <div>
    <img src="img/me2.jpg" class="homePicture">
  </div>
    
    
<script src="js/index.js"></script>   
</body>
</html>
