<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div>
    <h1 class="name">Michel Vazirani</h1>
    <h4 class="intro">I am a person.</h4>
  </div>

  <div>
    <ul class="navBar">
      <li class="navBox"><a class="navLink active" href="/">Home</a></li>
      <li class="navBox"><a class="navLink" href="about">About</a></li>
    </ul>
  </div>

  <div class="homeContent">

    <div class="homePicture1">
      <img src="img/me.jpg" class="homePicture1">
    </div>
    
    <div class="textGroup1">
      <p class="homeParagraph">
        Hello!!!
      </p>
      <p class="homeParagraph">
        This is a nice picture of me so you know what I look like.
        I don't have too many pictures of myself since cameras freak me out.
      </p>
    </div>
    
    <div class="textGroup2">
      <p class="homeParagraph">
        Here is another picture...I'm not sure why but I think it belongs here.
      </p>
    </div>

    <div class="homePicture2">
      <img src="img/me2.jpg" class="homePicture2">
    </div>
  
  </div>
    
    
<script src="js/index.js"></script>   
</body>
</html>
