<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div>
    <h1>Michel Vazirani</h1>
    <h4>I am a person.</h4>
  </div>

  <div>
    <ul class="nav_bar">
      <li class="nav_box"><a class="nav_link active" href="/">Home</a></li>
      <li class="nav_box"><a class="nav_link" href="about">About</a></li>
    </ul>
  </div>
    
    
<script src="js/index.js"></script>   
</body>
</html>
